

body{
  background-color: rgb(255, 255, 255)
}

#banner-img {

  height: 350px;

}

.ban{

    height:100%;
    width: 100%;
    position: center;
object-fit:cover
}

h3{
  font-size:x-large;
  margin-left: 10%;
  font-family: "Lucida Console", "Courier New", monospace;

}
h4{
   text-align: left;
  font-size: large;
  margin-left: 10%;
margin-bottom: -2%;
  font-family: "Lucida Console", "Courier New", monospace;
}



.info { color: rgb(0, 0, 0);


  font-variant: small-caps;

      color: #1b1919;


}

.info2 { color: rgb(0, 0, 0);


  font-variant: small-caps;

      color: #1b1919;


}

.info3 { color: rgb(0, 0, 0);


  font-variant: small-caps;

      color: #1b1919;


}


.info4 {


  font-variant: small-caps;

      color: #1b1919;
}

.title{

  color: var(black);
  font-size: 22px;
  font-weight: 400px;
  letter-spacing: 0;
  margin-top: -1px;
  min-width: 100px;
}


.logo{
  height: 95px;
  min-width: 250px;
  object-fit: cover;
}
.framed {
  align-items: flex-start;
  display:flex;
  flex-direction: column;
  gap: 10px;
  height: min-content;
  padding: 10px;
  width: min-content;
}

.frame1
{
  background-color: #c4dfbb;
  height: 20%;
  top:1%;
  left: 0%;
  width: 100%;
  position:absolute;
  opacity: 0.7;
}


.frame2{
  height: 113px;
  left: 0px;
  position:absolute;
  top: 15px;
  width: 259px;

}

.frame3{
  align-items: flex-start;
  display: flex;
  gap: 10px;
  height: min-content;
  padding: 10px;
  width: min-content;
}

.frame4{
  align-items: flex-start;
  display: flex;
  flex-direction: column;


  gap: 10px;
  height: 120px;
  left: 230px;
  padding: 10px;
  position: absolute;
  top: 60px;}

  .title{

      font-family: "Lucida Console", "Courier New", monospace;
      font-size: 16px;
      position: relative;

  }



  *{
      box-sizing: border-box;}

       a.button {
   position: relative;
 margin-left: 80%;
  top: -50px;
       width: -20px;
           font-family: "Lucida Console", "Courier New", monospace;
           font-weight: bold;
           background-color: #c4dfbb;
           font-size: 14px;
           opacity: 0.8;
           color: #fff;
        border: solid #b9e9aa;
           border-radius:10px;
           padding:10px;
           min-height:30px;
           min-width: 120px;
         }
         a.button:hover {
          background-color:#aae4aa;
          transition: 0.7s;

      }


  #avatar {
     position: absolute;
      top: 250px;
      left: 100px;
      /* This image is 687 wide by 1024 tall, similar to your aspect ratio */
      background-image: url('https://64.media.tumblr.com/83365ea6f54372c68d404c290d86c6ec/b6e1347e0295285d-a8/s540x810/0bd76898b0e7c1784dc62ca6254be66602f01916.jpg');

      /* make a square container */
      width: 200px;
      height:200px;

      /* fill the container, preserving aspect ratio, and cropping to fit */
      background-size: cover;

      /* center the image vertically and horizontally */
      background-position:top right 2px;


      /* round the edges to a circle with border radius 1/2 container size */
      border-radius: 50%;
      border: 5px solid #a5c4aa;
  }



  #quesoy {


  font-size: 20px;
  margin-left: 25%;
  margin-bottom: 5%;

    }

  #nombre {
margin-left: 23%;

    vertical-align: middle;
    font-size: 20px;

    position: relative;



        }
      #apellido
      {

        margin-left: 26%;


        vertical-align: middle;
        font-size: 20px;

        position: relative;


      }


      p{
      margin-left: 50%;
      margin-bottom: 50px;
      position: relative;
      margin-left: 20%;
      font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
      text-transform: lowercase;
      font-variant: small-caps;
      padding: 10px;
      color: #000000;
      background-color: #d9eed2;
      width: 400px;
      padding: 10px;
      outline-style: dotted;
      outline-color: #bdbde6;
      }


#acercade
      {

        position: relative;
      }
      #titulos
      {

      margin-top: 10%;
      margin-bottom: 10%;
      }


      #experiencia
      {

      font-size: 20px;
      margin-bottom: 20px;
      position: relative;
      margin-left: 20%;
      font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
      text-transform: lowercase;
      font-variant: small-caps;
      padding: 10px;
      color: #000000;
      background-color:  #dff0dd;
      width: 500px;
      padding: 10px;
      outline-style: dotted;
      outline-color: #a18a83;
      }


      #tituloP{
          float: right;
          margin-top: -63%;
          margin-right: 15%;
      }
      #proyectos
      {


float: right;

      }

      img {
        max-width:100%;
    height:fit-content;

      object-fit:contain ;}

         .icon1{
          position: relative;
          margin-top: -34%;
          margin-right: 6%;
          float:right;
          height: 25px;
          width:25px;

       }    .icon2{
        position: relative;
float:right;
margin-top: -34%;
margin-right: 3%;
          height: 25px;
          width:25px;
       }

       #ap{ float:right;
        margin-right: -63%;
          margin-right: 19%;
      position: relative;


}





  /* barras de progreso */

   .wrapper {

          width: 400px;
          font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-variant: small-caps;
          margin-left: 20%;

      }

      .skill {
          margin-bottom: 35px;
          position: relative;
          overflow-x:hidden;
      }

      .skill > p {
          font-size: 18px;
          font-weight: 700;
          color: #1a1716;
          margin: 0;
      }

      .skill:before {
          width: 100%;
          height: 10px;
          content: "";
          display: block;
          position: absolute;
          background: #959595;
          bottom: 0;
      }

      .skill-bar {
          width: 100%;
          height: 10px;
          background: #9bbb98 ;
          display: block;
          position: relative;
      }

      .skill-bar span {
          position: absolute;

          border-top: 5px solid;

          background: #9bbb98 ;
          top: -30px;
          padding: 0;
          font-size: 18px;
          padding: 3px 0;
          font-weight: 500;
      }

      .skill-bar {
          position: relative;
      }

      .skill1 .skill-count1 {
          right: 0;
      }

      .skill1 {
          width: 95%;
      }

      .skill2 {
          width: 85%;
      }

      .skill2 .skill-count2 {
          right: 0;
      }

      .skill3{
         width: 75%;
      }

      .skill3 .skill-count3 {
          right: 0;
      }



      #boton1 {

        float: left;
        margin-left: 53%;
        margin-top: -6%;
                font-family: "Lucida Console", "Courier New", monospace;
                font-weight: bold;
                background-color: #ffffff;
                font-size: 12px;
                opacity: 0.8;
                color: rgb(77, 90, 71);
                border: solid #b9e9aa;
                border-radius:5px;
                padding:5px;
                min-height:30px;
                min-width: 30px;
              }



              #boton2 {

                float: left;
                margin-left: 53%;
                margin-top: -6%;
                        font-family: "Lucida Console", "Courier New", monospace;
                        font-weight: bold;
                        background-color: #ffffff;
                        font-size: 12px;
                        opacity: 0.8;
                        color: rgb(77, 90, 71);
                     border: solid #b9e9aa;
                        border-radius:5px;
                        padding:5px;
                        min-height:30px;
                        min-width: 30px;
                      }


                      #boton3 {

                        float: left;
                        margin-left: 53%;
                        margin-top: -6%;
                                font-family: "Lucida Console", "Courier New", monospace;
                                font-weight: bold;
                                background-color: #ffffff;
                                font-size: 12px;
                                opacity: 0.8;
                                color: rgb(77, 90, 71);
                             border: solid #b9e9aa;
                                border-radius:5px;
                                padding:5px;
                                min-height:30px;
                                min-width: 30px;
                              }

                              #botoninfo {

                                

                                        font-family: "Lucida Console", "Courier New", monospace;
                                        font-weight: bold;
                                        background-color: #ffffff;
                                        font-size: 12px;
                                        opacity: 0.8;
                                        color: rgb(77, 90, 71);
                                     border: solid #b9e9aa;
                                        border-radius:5px;
                                        padding:5px;
                                        min-height:30px;
                                        min-width: 30px;
                                      }











      #bg {
        background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/4/40/Van_Gogh_-_Gr%C3%BCnes_Weizenfeld1.jpeg/1280px-Van_Gogh_-_Gr%C3%BCnes_Weizenfeld1.jpeg');
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        filter: blur(5px);
      }

      .bosy {
        font-family: 'Lato', sans-serif;
        color: #4A4A4A;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        overflow: hidden;
        margin: 0;
        padding: 0;
      }

      form {
        width: 350px;
        position: relative;
      }
      form .form-field::before {
        font-size: 20px;
        position: absolute;
        left: 15px;
        top: 17px;
        color: #888888;
        content: " ";
        display: block;
        background-size: cover;
        background-repeat: no-repeat;
      }
      form .form-field:nth-child(1)::before {
        background-image: url(https://64.media.tumblr.com/dcf3a1df7b430a0b2a574ce6aee82552/826063793c4054a7-e4/s400x600/49365b423bd40c203d10e23ac3a305607dd4b7c9.pnj);
        width: 20px;
        height: 20px;
        top: 15px;
      }
      form .form-field:nth-child(2)::before {
        background-image: url(https://64.media.tumblr.com/0ad8aade28221c6a40764c4efd5baefb/826063793c4054a7-41/s400x600/0f6b25dd3dbefc10206b79d68f7709304cb212a9.pnj);
        width: 16px;
        height: 16px;
      }
      form .form-field {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-bottom: 1rem;
        position: relative;
      }
      form input {
        font-family: inherit;
        width: 100%;
        outline: none;
        background-color: #fff;
        border-radius: 4px;
        border: none;
        display: block;
        padding: 0.9rem 0.7rem;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
        font-size: 17px;
        color: #4A4A4A;
        text-indent: 40px;
      }
      form .btn {
        outline: none;
        border: none;
        cursor: pointer;
        display: inline-block;
        margin: 0 auto;
        padding: 0.9rem 2.5rem;
        text-align: center;
        background-color: #47AB11;
        color: #fff;
        border-radius: 4px;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
        font-size: 17px;
      }
