


<div class="frame1">
</div><div class="frame2">
<div class="framed">
<div class="logo">
<img src="https://www.concordia.gob.ar/sites/all/themes/programar/images/arg-programa.png" alt="">
</div>
</div>
</div>
<div class="frame4">
  <div class="frame3">
    <h1 class="title">#yoprogramo</h1>
  </div>
</div>

<div id="banner-img"><img src="https://assets.muralswallpaper.com/product-banner/VA0001NE30W.jpg"
  alt="banner" class="ban"/>
</div>
<a routerLink="/iniciar-sesion" class="button">Iniciar Sesión</a>



<div class="icon1">
  <a href="https://www.instagram.com/melmrtinz">
    <img src="https://64.media.tumblr.com/e25a670e765e764eabe013cef3e1d498/ea589a7556a4696f-6d/s400x600/0f9cc4ecede652b4f6af528e9a330db78b1bcd73.pnj"
     alt="instagram" />
   </a>
</div>
<div class="icon2">
  <a href="https://www.linkedin.com/in/melmrtinz">
    <img src="https://64.media.tumblr.com/c35a860733cbeeaee5c84f57b940ec10/ea589a7556a4696f-51/s400x600/a7cd47e0be100fdb3ff19d1228b196ab1e58c066.pnj"
    alt="linkedin"/>
   </a>
</div>


<div id="quesoy"><span id="editableinfo" contenteditable="false"><u><span id="rol">{{miPorfolio?.rol}}</span></u>
</span><div id="Nombre">
{{miPorfolio?.nombres}}
</div>
<div id="Apellido">
  {{miPorfolio?.apellido}}</div>


<button id="botoninfo" onclick="myFunction4(this);" aria-label="edit"><i class="fas fa-pen"></i> </button>
  <input type="button" id="saveboton"value="guardar cambios" onclick="saveEdits()"/>
  <div id="update"></div></div>


