



<app-encabezado></app-encabezado>

<app-info></app-info>



  <h3>Acerca de:</h3>
<div id="Acercade">
  <p> Mi carrera en artes comienza desde el 2013 participando de muestras colectivas , en el año 2019 obtuve el Título de Licenciada en Pintura de la Universidad Nacional de Córdoba.
    Me formé y participé como Mediadora Artística en el Mercado de Arte Contemporáneo Córdoba y en muestras realizadas en el Museo Evita “Tiempo de Aventura en el Museo” y el Museo Caraffa “FICCIÓN”
</p></div>
<h3>
Educación:
</h3>
<div id="Titulos">
  <p>Licenciada en Pintura
    2019 | Universidad Nacional de Córdoba.
  </p>
<p> Profesora en Artes Visuales
  En curso / 2017 - Presente | Universidad Nacional de
  Córdoba.</p></div>

<h3>Experiencia:</h3>
  <div id="Experiencia">
    <p><u>2015 Tallerista Artística </u>en "El galpón", Proyecto
      de extensión Vaivén.
      <ul>
        <li>Coordinación de grupos de trabajo.</li>
        <li>Planificación y ejecución de actividades
      educativas.</li>

      </ul>



  <p><u>2018 Mediadora Artística y Guia </u>en Feria de
    arteCBA, Museo Emilio Caraffa y Museo de
    Bellas Artes "Evita".
    <ul>  <li>Selección y organización de información según la
meta específica de la mediación.</li>
<li> Panificación y ejecución de un proyecto de
    comunicación.</li>
  </ul>
</div>
<div id="tituloP"><h3>Proyectos:</h3></div>

    <div id="Proyectos">
      </div>









<h4>Aptitudes:</h4>

<div class="wrapper">




<br><br>
<div class="skill">
    <p>Ingles</p>
    <div class="skill-bar skill1">
        <span class="skill-count1">95%</span>
    </div>
</div>
<div class="skill">
    <p>Htlm</p>
    <div class="skill-bar skill2">
        <span class="skill-count2">85%</span>
    </div>
</div>
<div class="skill">
    <p>Css</p>
    <div class="skill-bar skill3">
        <span class="skill-count3">75%</span>
    </div>
</div>
</div>





<app-root></app-root>
<script src="objetos.ts"> </script>
