

body{
    background-color: rgb(255, 255, 255)
  }
  
  #banner-img {
  
    height: 350px;
  
  }
  
  .ban{
  
      height:100%;
      width: 100%;
      position: center;
  object-fit:cover
  }
  
  h3{
    font-size:x-large;
    margin-left: 10%;
    font-family: "Lucida Console", "Courier New", monospace;
  
  }
  h4{
     text-align: left;
    font-size: large;
    margin-left: 10%;
  margin-bottom: -2%;
    font-family: "Lucida Console", "Courier New", monospace;
  }
  
  
  
  .info { color: rgb(0, 0, 0);
  
  
    font-variant: small-caps;
  
        color: #1b1919;
  
  
  }
  
  .info2 { color: rgb(0, 0, 0);
  
  
    font-variant: small-caps;
  
        color: #1b1919;
  
  
  }
  
  .info3 { color: rgb(0, 0, 0);
  
  
    font-variant: small-caps;
  
        color: #1b1919;
  
  
  }
  
  
  .info4 {
  
  
    font-variant: small-caps;
  
        color: #1b1919;
  }
  
  .title{
  
    color: var(black);
    font-size: 22px;
    font-weight: 400px;
    letter-spacing: 0;
    margin-top: -1px;
    min-width: 100px;
  }
  
  
  .logo{
    height: 95px;
    min-width: 250px;
    object-fit: cover;
  }
  .framed {
    align-items: flex-start;
    display:flex;
    flex-direction: column;
    gap: 10px;
    height: min-content;
    padding: 10px;
    width: min-content;
  }
  
  .frame1
  {
    background-color: #c4dfbb;
    height: 20%;
    top:1%;
    left: 0%;
    width: 100%;
    position:absolute;
    opacity: 0.7;
  }
  
  
  .frame2{
    height: 113px;
    left: 0px;
    position:absolute;
    top: 15px;
    width: 259px;
  
  }
  
  .frame3{
    align-items: flex-start;
    display: flex;
    gap: 10px;
    height: min-content;
    padding: 10px;
    width: min-content;
  }
  
  .frame4{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
  
  
    gap: 10px;
    height: 120px;
    left: 230px;
    padding: 10px;
    position: absolute;
    top: 60px;}
  
    .title{
  
        font-family: "Lucida Console", "Courier New", monospace;
        font-size: 16px;
        position: relative;
  
    }
  
  
  
    *{
        box-sizing: border-box;}
  
         a.button {
     position: relative;
   margin-left: 80%;
    top: -50px;
         width: -20px;
             font-family: "Lucida Console", "Courier New", monospace;
             font-weight: bold;
             background-color: #c4dfbb;
             font-size: 14px;
             opacity: 0.8;
             color: #fff;
          border: solid #b9e9aa;
             border-radius:10px;
             padding:10px;
             min-height:30px;
             min-width: 120px;
           }
           a.button:hover {
            background-color:#aae4aa;
            transition: 0.7s;
  
        }
  
  
    #avatar {
       position: absolute;
        top: 250px;
        left: 100px;
        /* This image is 687 wide by 1024 tall, similar to your aspect ratio */
        background-image: url('https://64.media.tumblr.com/83365ea6f54372c68d404c290d86c6ec/b6e1347e0295285d-a8/s540x810/0bd76898b0e7c1784dc62ca6254be66602f01916.jpg');
  
        /* make a square container */
        width: 200px;
        height:200px;
  
        /* fill the container, preserving aspect ratio, and cropping to fit */
        background-size: cover;
  
        /* center the image vertically and horizontally */
        background-position:top right 2px;
  
  
        /* round the edges to a circle with border radius 1/2 container size */
        border-radius: 50%;
        border: 5px solid #a5c4aa;
    }
  
  
  
    #quesoy {
  
    margin-top:-3%;
    font-size: 20px;
    margin-left: 25%;
    margin-bottom: 5%;
  
      }
  
    #nombre {
  margin-left: 23%;
  
      vertical-align: middle;
      font-size: 20px;
  
      position: relative;
  
  
  
          }
        #apellido
        {
  
          margin-left: 26%;
  
  
          vertical-align: middle;
          font-size: 20px;
  
          position: relative;
  
  
        }
  
  
        p{
        margin-left: 50%;
        margin-bottom: 50px;
        position: relative;
        margin-left: 20%;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        text-transform: lowercase;
        font-variant: small-caps;
        padding: 10px;
        color: #000000;
        background-color:  #dff0dd;
        width: 500px;
        padding: 10px;
        outline-style: dotted;
        outline-color: #a18a83;
        }
  
  
  #acercade
        {
  
          position: relative;
        }
        #titulos
        {
  
        font-size: 20px;
        margin-bottom: 50px;
        position: relative;
        margin-left: 20%;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        text-transform: lowercase;
        font-variant: small-caps;
        padding: 10px;
        color: #000000;
        background-color:  #dff0dd;
        width: 500px;
        padding: 10px;
        outline-style: dotted;
        outline-color: #a18a83;
        }
  
  
        #experiencia
        {
  
        font-size: 20px;
        margin-bottom: 20px;
        position: relative;
        margin-left: 20%;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        text-transform: lowercase;
        font-variant: small-caps;
        padding: 10px;
        color: #000000;
        background-color:  #dff0dd;
        width: 500px;
        padding: 10px;
        outline-style: dotted;
        outline-color: #a18a83;
        }
  
  
        #tituloP{
            float: right;
            margin-top: -57%;
            margin-right: 25%;
        }
        #proyectos
        {
  
        font-size: 20px;
        margin-bottom: 20px;
        position: relative;
        margin-left: 20%;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        text-transform: lowercase;
        font-variant: small-caps;
        padding: 10px;
        color: #000000;
        background-color:  #dff0dd;
        width: 500px;
        padding: 10px;
        outline-style: dotted;
        outline-color: #a18a83;
        }
  
        img {
          max-width:100%;
      height:fit-content;
  
        object-fit:contain ;}
  
           .icon1{
            position: relative;
            margin-top: -35%;
            margin-right: 5%;
            float:right;
            height: 25px;
            width:25px;
  
         }    .icon2{
          position: relative;
  float:right;
  margin-top: -35%;
  margin-right: 7%;
            height: 25px;
            width:25px;
         }
  
         #ap{ float:right;
          margin-right: -63%;
            margin-right: 19%;
        position: relative;
  
  
  }
  
  
  
  
  
    /* barras de progreso */
  
     .wrapper {
  
            width: 400px;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-variant: small-caps;
            margin-left: 20%;
  
        }
  
        .skill {
            margin-bottom: 35px;
            position: relative;
            overflow-x:hidden;
        }
  
        .skill > p {
            font-size: 18px;
            font-weight: 700;
            color: #1a1716;
            margin: 0;
        }
  
        .skill:before {
            width: 100%;
            height: 10px;
            content: "";
            display: block;
            position: absolute;
            background: #959595;
            bottom: 0;
        }
  
        .skill-bar {
            width: 100%;
            height: 10px;
            background: #9bbb98 ;
            display: block;
            position: relative;
        }
  
        .skill-bar span {
            position: absolute;
  
            border-top: 5px solid;
  
            background: #9bbb98 ;
            top: -30px;
            padding: 0;
            font-size: 18px;
            padding: 3px 0;
            font-weight: 500;
        }
  
        .skill-bar {
            position: relative;
        }
  
        .skill1 .skill-count1 {
            right: 0;
        }
  
        .skill1 {
            width: 95%;
        }
  
        .skill2 {
            width: 85%;
        }
  
        .skill2 .skill-count2 {
            right: 0;
        }
  
        .skill3{
           width: 75%;
        }
  
        .skill3 .skill-count3 {
            right: 0;
        }
  