
@import url("https://fonts.googleapis.com/css2?family=Cute+Font:400");
:root
{ --black: rgba(0,0,0,1);
--font-size-m: 24px;
--font-family-cute_font: "Cute Font";

}

.desktop-bg{
    background-color: white;
    overflow-x: hidden;
    position: relative;
}
.info { color: black; font-size: large;
position: relative;}

body, html {
    height: 100%;
}



/* The hero image */
.banner-img {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: url("https://assets.muralswallpaper.com/product-banner/VA0001NE30W.jpg");

  /* Set a specific height */
  height: 50%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


#avatar {
    position: absolute; 
    top: 250px;
    left: 100px;
    /* This image is 687 wide by 1024 tall, similar to your aspect ratio */
    background-image: url('https://64.media.tumblr.com/83365ea6f54372c68d404c290d86c6ec/b6e1347e0295285d-a8/s540x810/0bd76898b0e7c1784dc62ca6254be66602f01916.jpg');
    
    /* make a square container */
    width: 200px;
    height:200px;

    /* fill the container, preserving aspect ratio, and cropping to fit */
    background-size: cover;

    /* center the image vertically and horizontally */
    background-position:top right 2px;
   

    /* round the edges to a circle with border radius 1/2 container size */
    border-radius: 50%;
}
  



.title{
    
    color: var(black);
    font-size: 22;
    font-weight: 400px;
    letter-spacing: 0;
    margin-top: -1px;
    min-width: 115px;
}

.logo{
    height: 93px;
    min-width: 239px;
    object-fit: cover;
}

.framed {
    align-items: flex-start;
    display:flex;
    flex-direction: column;
    gap: 10px;
    height: min-content;
    padding: 10px;
    width: min-content;
}
.frame1
{
    background-color: #c4dfbb;
    height: 142px;
    left: -10px;
    position:absolute;
    top:-10px;
    width: 1484px;
}
.frame2{
    height: 113px;
    left: 0px;
    position:absolute;
    top: 4px;
    width: 259px;

}

.frame3{
    align-items: flex-start;
    display: flex;
    gap: 10px;
    height: min-content;
    padding: 10px;
    width: min-content;
}

.frame4{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 120px;
    left: 260px;
    padding: 10px;
    position: absolute;
    top: 49px;}


  
  

.banner {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
    border: 3px solid #73AD21;
  }

/* CSS */
.button-39 {
    background-color: #FFFFFF;
    border: 1px solid rgb(209,213,219);
    border-radius: .5rem;
    box-sizing: border-box;
    color: #111827;
    font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: .875rem;
    font-weight: 600;
    line-height: 1.25rem;
    padding: .75rem 1rem;
    text-align: center;
    text-decoration: none #D1D5DB solid;
    text-decoration-thickness: auto;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-39:hover {
    background-color: rgb(249,250,251);
  }
  
  .button-39:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
  }
  
  .button-39:focus-visible {
    box-shadow: none;
  }
