
<html lang="en" >
<head><meta name="viewport" content="width=device-width, initial-scale=1">


  <meta charset="UTF-8">
  <title>Inicio Sesión</title>


</head>
<div class="bosy">
<!-- partial:index.partial.html -->
<div id="bg"></div>

<form>
  <div class="form-field">
    <input type="email" placeholder="Email " required/>
  </div>
  
  <div class="form-field">
    <input type="password" placeholder="Contraseña" required/>                         </div>
  
  <div class="form-field">
    <button class="btn" type="submit">Entrar</button>
  </div>
</form>
<!-- partial -->
  </div>






 