



<h3>Acerca de:</h3>
<div class="info">
<div id="Acercade" >
  <p>  {{miPorfolio.acercade}}
</p>
 </div>






<h3>
Educación:
</h3>
<div class="info2">
  <div id="Titulos"><span >
    <p id="myP" contenteditable="false">{{miPorfolio.titulo1}}
    </p></span>
  <button id="boton1" onclick="myFunction(this);">Editar</button>

  <span contenteditable="false">
  <p> {{miPorfolio.titulo2}} </p></span></div></div>







  <h3>Experiencia:</h3>
  <div id="Experiencia"><span contenteditable="true">
   <p> 2015 Tallerista Artística en "El galpón", Proyecto
        de extensión Vaivén.

          Coordinación de grupos de trabajo.
          Planificación y ejecución de actividades
        educativas.</p></span><span contenteditable="true">
    <p>  2018 Mediadora Artística y Guia en Feria de
      arteCBA, Museo Emilio Caraffa y Museo de
      Bellas Artes "Evita".
      Selección y organización de información según la
  meta específica de la mediación.
   Planificación y ejecución de un proyecto de
      comunicación.</p></span></div>








  <div id="tituloP"><h3>Proyectos:</h3>
  <div class="info4">     </div>
      <div id="Proyectos">
        <span contenteditable="true">  <p> no hay</p></span>
        </div></div>

