



<h3>Acerca de:</h3>



<div class="info">
<div id="Acercade" ></div>
  <p id="myP3" contenteditable="false">  {{miPorfolio?.info}} </p>
 <button id="boton3" onclick="myFunction3(this);" aria-label="edit"><i class="fas fa-pen"></i></button>
</div>






<h3>Educación:</h3>



<div class="info2">
  <div id="Titulos">
    <p id="myP" contenteditable="false">{{miPorfolio?.titulo1}} </p>

  <button id="boton1" onclick="myFunction(this);" aria-label="edit"><i class="fas fa-pen"
    ></i></button>


  <p id="myP2" contenteditable="false"> {{miPorfolio?.titulo2}}</p>

</div></div>
 <button id="boton2" onclick="myFunction2(this);" aria-label="edit"><i class="fas fa-pen"></i></button>





  <h3>Experiencia:</h3>


  <div id="Experiencia">
   <p id="exp1" contenteditable="false">{{miPorfolio?.experiencia1}} </p>
   <button id="boton4" onclick="myFunction5(this);" aria-label="edit"><i class="fas fa-pen"></i></button>




    <p id="exp2" contenteditable="false">{{miPorfolio?.experiencia2}} </p>


    <button id="boton5" onclick="myFunction6(this);" aria-label="edit"><i class="fas fa-pen"></i></button></div>
    <button id="botonNew" onclick="addWord()" aria-label="edit"><i class="fa fa-plus" ></i></button>
    <button id="botonDelete" onclick="removeWord()" aria-label="edit"><i class="fa fa-times"></i></button>
    <!-- Every time this is clicked, add 'word' to the div 'text' without refreshing -->
    
    <div id="text" class="text">
      <!-- Write word here as many times as the button is pressed -->
    </div>


  <div id="tituloP"><h3>Proyectos:</h3>


  <div class="info4">     </div>
      <div id="Proyectos">
        <span contenteditable="true" >  <p> no hay</p></span>
        </div></div>

